################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebJobInCore
/EmployeeApp/obj
/EmployeeApp/bin
/EmployeeWebJob/obj
/EmployeeWebJob/bin
/TimerWebJob/obj
/TimerWebJob/bin/Debug/netcoreapp3.1
/EmployeeApp/.config
/EmployeeApp/Properties/PublishProfiles
/WebApp/obj
/WebApp/bin/Debug/netcoreapp3.1
/EmployeeWebJob/Properties/PublishProfiles
/TimerWebJob/bin
/EmployeeWebJob/Settings.job
/WebApp/bin
