<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!--internalLogLevel="info"-->
  <!--internalLogFile="C:\Users\Yigit\Desktop\Log\internal-nlog.json"-->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <!--AzureStorage extension-->
    <add assembly="NLog.Extensions.AzureStorage" />
  </extensions>

  <!--"type" is your log type (AzureBlobStorage or File)-->
  <!--"name" is your log rule name-->
  <!--"blobName" is your file name-->
  <!--"container" is your blob container name-->
  <!--"connectionString" is your storage connection string-->
  <targets>


    <target xsi:type="AzureBlobStorage" name="error" blobName="EMS-${shortdate}.log" container="logs"
            connectionString="DefaultEndpointsProtocol=https;AccountName=webjobcoreaccount;AccountKey=sILj2VQeZYGbddCNe0hSFMsUZscTmkL655DgWG3jWqD5MfrriZaqAelZtknAbXm6SIrD1YDQLCZlD/bPIIFDaA==;EndpointSuffix=core.windows.net"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />



  </targets>

  <!--Your log levels and rules-->
  <rules>
    <logger name="*" level="Error" writeTo="error" />
  </rules>
</nlog>